@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

@font-face {
  font-family: Crete Round;
  src: url(https://fonts.googleapis.com/css?family=Crete%20Round);
}

@font-face {
  font-family: Poppins;
  src: url(https://fonts.googleapis.com/css?family=Poppins);
}

:root { --primaryColor: #3c3a39; }

body {
  margin: -1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* -------header------- */
header {
  display: flex;
  flex-direction: row;
  background: var(--primaryColor);
  color: #fff;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  font-size: 18px;
  width: 100%;
}

.logo {
  color: #fff;
  text-decoration: none;
  width: 160px;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 68px;
  justify-content: center;
}

nav ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  list-style: none;
  position: fixed;
  top: 0;
  left: -100%;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--primaryColor);
  opacity: 0;
  transition: opacity 0.9s;
}

.visible {
  left: 0;
  opacity: 1;
}

nav ul li.closeButtonContainer {
  align-self: flex-end;
  margin-right: 38px;
  margin-top: 38px;
  color: #fff5e1;
  width: 0.001px;
}

nav ul li {
  width: 80%;
  border-bottom: 1px solid #6f6c6f6b;
}

.Personal-information {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  text-align: left;
  color: #fff5e1;
  text-decoration: none;
}

li.envelope {
  display: none;
}

/* ----------      Main      ---------- */
main {
  display: grid;
  gap: 120px;
  width: 100%;
}

/* -------Head section------- */
.head-section {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: #fff;
  height: 590px;
  width: 100%;
  min-width: 375px;
  justify-content: center;
  align-items: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: center;
  align-items: center;
  order: 0;
  width: 88%;
  min-width: 250px;
  max-width: 566px;
}

h2.primary-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  width: 100%;
  min-width: 250px;
  max-width: 400px;
  align-self: stretch;
  margin: -0.01px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
}

h4.supporting-text {
  width: 100%;
  min-width: 250px;
  height: 30px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin: -0.01px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

p.Description-text {
  width: 100%;
  min-width: 250px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.social-media-container {
  width: 80%;
}

ul.social-media {
  list-style: none;
  padding: 0.01px;
  padding-left: 0.001px;
  display: flex;
  height: 50px;
  width: 100%;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* -------Works Section------- */
.works-section {
  display: grid;
  gap: 24px;
  grid-template-rows: 211px 568px repeat(6, 386px);
  justify-items: center;
  width: 99%;
  min-width: 375px;
  height: 3335px;
}

.works-title-section {
  height: 107px;
  width: 88%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2.works-title {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 52px;
  text-align: center;
  height: 52px;
  width: 315px;
}

.works-line {
  width: 100%;
  height: 0;
  border: 0.5px solid #000;
  margin-inline: unset;
}

.principal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 327px;
}

.feat-img-principal-card {
  width: 88%;
  min-width: 327px;
  height: 237px;
  background-image: url(assets/ImgPlaceholder.png);
}

.description-principal-card {
  width: 100%;
  min-width: 250px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin: -0.01px;
}

.supporting-text-principal-card {
  width: 100%;
  min-width: 250px;
  height: 147px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: -0.01px;
}

.tag-holder {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

ul.tag-holder {
  padding-left: 0.001px;
}

.css {
  width: 49px;
  margin: -0.01px;
  text-align: center;
}

.html {
  width: 56px;
  margin: -0.01px;
  text-align: center;
}

.bootstrap {
  width: 95px;
  margin: -0.01px;
  text-align: center;
}

.rubi {
  width: 61px;
  margin: -0.01px;
  text-align: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.main-button {
  height: 48px;
  width: 124px;
}

.main-button:hover {
  width: 50%;
}

.see-project {
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}

.see-project:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.see-project:focus {
  background-color: #e05304;
  color: #f4f1f0;
  border: none;
}

.see-project:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.second-card {
  display: flex;
  height: 386px;
  width: 327px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(assets/Img-secundary-card.png);
  transition: border-radius 0.5s ease-out;
  transition: rotate 0.5s ease-out;
}

.second-card:hover {
  border-radius: 50px;
  rotate: 180deg;
}

.mask-group {
  height: 248px;
  width: 327px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  width: 295px;
  height: 81px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
  margin: -0.01px;
}

.supporting-text-secondary-card {
  width: 295px;
  height: 87px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.secondary-tag-holder {
  width: 90%;
  margin-top: 5px;
  margin-bottom: 0.001px;
}

.secondary-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 39px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  color: #fff;
}

.secondary-button {
  height: 48px;
  width: 327px;
}

/* --------About Section------- */
.about-section {
  width: 100%;
  height: 2100px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.about {
  width: 100%;
  height: 660px;
  background-image: url(assets/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  height: 79px;
  width: 327px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  margin: -0.01px;
  color: #ff6b00;
}

.about-description {
  width: 327px;
  height: 148px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.about-button-container {
  width: 327px;
  height: 48px;
  display: flex;
}

.about-button {
  width: 161px;
  height: 48px;
  transition: background-color 0.5s ease-in-out, width 0.5s ease-in-out;
}

.skill {
  width: 90%;
  height: 1400px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.white-vector {
  width: 100%;
  height: 50px;
  border-top: 1px solid #fff;
}

ul.skill-list-container {
  padding: 0.001px;
  list-style: none;
  width: 223px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

ul.skill-description-container {
  padding: 0.001px;
  list-style: none;
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

li.slk {
  font-family: InaiMathi, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  color: #fff;
  text-align: center;
  height: 336px;
}

li.skill-description {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
}

ul.skill-list-container li.slk:nth-child(1) {
  list-style-image: url(assets/Rectangle55.png);
}

ul.skill-list-container li.slk:nth-child(2) {
  list-style-image: url(assets/Square56.png);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

ul.skill-list-container li.slk:nth-child(3) {
  list-style-image: url(assets/Circle57.png);
  font-family: Inter, Arial, Helvetica, sans-serif;
}

/* Footer section */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0 2px 0;
  width: 375px;
}

.footer-head {
  padding: 0 5% 0 5%;
}

.footer-head h3 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-bottom: 24px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 0 5% 0 5%;
}

#form-button {
  margin-left: 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  background-color: #ff6b00;
  height: 48px;
  border: 0;
  width: 150px;
  align-self: center;
}

#form-button:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

#form-button:focus {
  background-color: #e05304;
  color: #f4f1f0;
  border: none;
}

#form-button:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

input {
  width: 90%;
  border: 0;
  border-bottom: 1px solid #dbd8d7;
  padding: 5%;
  margin-bottom: 20px;
  font-family: Inter, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
}

input::placeholder {
  color: #979493;
}

textarea {
  width: 90%;
  height: 114px;
  margin-bottom: 24px;
  border: 0;
  padding: 5%;
  background: #fbf8f7;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #3c3a39;
}

textarea::placeholder {
  color: #3c3a39;
}

footer hr.footer-end {
  width: 40%;
  height: 0;
  margin-left: 5%;
  margin-right: 5%;
  border: 2.5px solid #0d151e;
  border-radius: 3px;
  background-color: #0d151e;
}

footer hr.footer-social-network {
  width: 100%;
  height: 0;
  margin-left: -24px;
  margin-right: -24px;
  border: 0.5px solid #dfe1e6;
  margin-top: 140px;
}

.footer-Links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  padding-left: 0;
}

.footer-Links li {
  padding-right: 10px;
  padding-left: 10px;
}

.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow: auto;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 148, 147, 0.2);
  backdrop-filter: blur(2px);
  display: none;
}

.modal {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}

.modal-header {
  width: 90%;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.top h1 {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: bold;
  line-height: 44px;
  color: #172b4d;
}

.top span {
  font-size: 30px;
}

.modal ul {
  display: flex;
  width: 90%;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

.modal ul li {
  padding: 10px 12px;
  border: 1px solid #979493;
}

.body-wrap {
  width: 90%;
  height: 70%;
}

.image-wrap {
  width: 100%;
  height: 60%;
  max-height: 350px;
}

.image-wrap img {
  width: 100%;
  height: 100%;
}

.body-wrap .modal-body {
  width: 100%;
  height: 30%;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.go-to-wrapper {
  display: flex;
  justify-content: space-between;
}

.go-to-wrapper a {
  min-width: 40%;
  text-decoration: none;
  padding: 12px;
  display: flex;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  justify-content: center;
  gap: 16px;
}

.error{
  position: fixed;
  bottom: 20px;
  left: calc( 50%-150px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background-color: #1c1a19;
  padding: 10px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid #fff;
}

.close-error {
  align-self: flex-end;
  color: #fff;
}

/* horizontal tablets and average desktop */
@media (min-width: 768px) {
  header {
    height: 72px;
    justify-content: space-around;
  }

  .logo {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
  }

  nav {
    width: 350px;
  }

  #closeButton {
    display: none;
  }

  nav ul {
    position: static;
    flex-direction: row;
    width: 100%;
    height: auto;
    opacity: 1;
    gap: 0;
  }

  .hamburger-menu {
    display: none;
  }

  nav ul li {
    width: 80%;
    border-bottom: none;
    height: auto;
  }

  li.envelope {
    display: block;
  }

  .Personal-information {
    display: inline;
    padding-left: 16px;
    padding-right: 16px;
    color: #fff;
    text-decoration: none;
    width: 160px;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
  }

  main {
    grid-template-columns: 100%;
    justify-content: center;
  }

  .head-section {
    flex-direction: row-reverse;
    justify-content: start;
    height: 900px;
  }

  h2.primary-text {
    font-family: Crete Round, Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: 400;
    line-height: 82px;
    color: #f55800;
  }

  h4.supporting-text {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
  }

  p.Description-text {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  .social-media-container {
    width: 10%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  ul.social-media {
    flex-direction: column;
    justify-content: center;
    width: 140px;
  }

  .icon {
    margin: 12px;
  }

  .about-section {
    height: 1200px;
  }

  .about {
    align-items: stretch;
  }

  .about-title {
    width: 566px;
    height: 76px;
    padding-left: 8%;
  }

  .about-description {
    width: 470px;
    height: 148px;
    padding-left: 8%;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
  }

  .about-button-container {
    padding-left: 8%;
  }

  .skill {
    height: 500px;
  }

  ul.skill-list-container {
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: 390px;
  }

  li.slk {
    text-align: left;
    padding-inline-start: 12px;
  }

  li.skill-description {
    text-align: left;
  }
}

@media (min-width: 950px) and (max-width: 1099px) {
  .head-section {
    background-size: contain;
  }

  .about {
    background-size: contain;
  }
}

@media (min-width: 1100px) {
  .head-section {
    background-image: url(assets/Illustration-header-big.png);
  }

  p.Description-text {
    width: 470px;
    align-self: stretch;
  }

  .works-line {
    width: 60%;
  }

  .works-section {
    grid-template-columns: auto 370px auto;
    grid-template-rows: auto 550px auto auto;
    height: 1805px;
    gap: 0.01px;
  }

  .works-title-section {
    grid-column: 1 / 4;
    flex-direction: row;
    justify-content: space-between;
  }

  .principal-card {
    grid-column: 1 / 4;
    grid-row: 2/3;
    flex-direction: row;
    justify-content: center;
    width: 94%;
  }

  .feat-img-principal-card {
    width: 100%;
    height: auto;
    max-width: 684px;
    max-height: 481px;
    background-size: contain;
  }

  .description-principal-card {
    width: 447px;
    height: 348px;
    padding-left: 24px;
  }

  .description-title {
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
  }

  .supporting-text-principal-card {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    height: 186px;
  }

  .second-card {
    width: 369px;
    height: 435px;
    background-size: cover;
  }

  .secondary-button {
    display: none;
  }

  .card-1 {
    background-image: url(assets/card-1.svg);
  }

  .card-1 .secondary-button {
    display: block;
    width: 100%;
  }

  .card-1 .mask-group {
    display: none;
  }

  .card-2 {
    background-image: url(assets/card-2.svg);
  }

  .card-3 {
    background-image: url(assets/card-3.svg);
  }

  .card-4 {
    background-image: url(assets/card-4.svg);
  }

  .card-5 {
    background-image: url(assets/card-2.svg);
  }

  .card-6 {
    background-image: url(assets/card-3.svg);
  }

  .about {
    background-image: url(assets/Frame-about-section.png);
    background-position: 100% 50%;
  }

  footer {
    width: 90%;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-head {
    width: 456px;
    height: 256px;
    padding: 0.001px;
  }

  .footer-head h3 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    text-align: left;
  }

  .h3-break {
    display: none;
  }

  .footer-form {
    width: 684px;
    height: 330px;
    padding: 0.001px;
  }

  input {
    padding: 2%;
  }

  input#name {
    padding-top: 0.01px;
  }

  textarea {
    height: 114px;
    padding: 12px;
  }

  #form-button {
    align-self: stretch;
  }

  .footer-end {
    display: none;
  }

  .modal {
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .modal .top {
    height: 50px;
  }

  .body-wrap {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 60%;
    gap: 25px;
  }

  .image-wrap {
    width: 52%;
    height: 100%;
    max-height: 350px;
  }

  .image-wrap img {
    width: 100%;
    height: 100%;
    max-height: 350px;
  }

  .modal-body {
    max-width: 424px;
    max-height: 350px;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .modal-body p {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
  }

  .go-to-wrapper {
    justify-content: flex-start;
    gap: 7px;
  }
}

@media (min-width: 1220px) {
  p.Description-text {
    width: 566px;
    align-self: center;
  }

  p.about-description {
    width: 566px;
  }

  .works-section {
    width: 1219px;
    margin-left: auto;
    margin-right: auto;
  }
}
