@font-face {
  font-family: Roboto;
  src: url(https://fonts.googleapis.com/css?family=Roboto);
}

@font-face {
  font-family: Crete Round;
  src: url(https://fonts.googleapis.com/css?family=Crete%20Round);
}

@font-face {
  font-family: Poppins;
  src: url(https://fonts.googleapis.com/css?family=Poppins);
}

body {
  margin: -1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  background: #3c3a39;
  color: #fff;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  font-size: 18px;
  width: 376px;
}

.logo {
  color: #fff;
  text-decoration: none;
  width: 160px;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

nav {
  display: flex;
  width: 68px;
  justify-content: center;
}

.head-section {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: #fff;
  height: 590px;
  justify-content: center;
  width: 376px;
  align-items: center;
}

main {
  display: grid;
  gap: 120px;
}

.intro-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  order: 0;
  width: 327px;
}

.primary-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  width: 327px;
  margin: -0.01px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
}

.supporting-text {
  width: 327px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin: -0.01px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.Description-text {
  width: 330px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
  order: 1;
  padding: -0.01px;
  width: 327px;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.works-section {
  display: grid;
  gap: 24px;
  grid-template-rows: 211px 568px repeat(6, 386px);
  justify-content: center;
  width: 375px;
  height: 3335px;
}

.title-works-section {
  height: 107px;
  width: 327px;
  border-bottom: 1px solid black;
}

h2 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 52px;
  text-align: left;
}

.principal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.feat-img-principal-card {
  width: 327px;
  height: 237px;
  background-image: url(assets/ImgPlaceholder.png);
}

.description-principal-card {
  width: 327px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  margin: -0.01px;
}

.supporting-text-principal-card {
  width: 327px;
  height: 147px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  margin: -0.01px;
}

.tag-holder {
  height: 40px;
  width: 297px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.css {
  width: 49px;
  margin: -0.01px;
  text-align: center;
}

.html {
  width: 56px;
  margin: -0.01px;
  text-align: center;
}

.bootstrap {
  width: 95px;
  margin: -0.01px;
  text-align: center;
}

.rubi {
  width: 61px;
  margin: -0.01px;
  text-align: center;
}

.tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  border: 1px solid #8993a4;
  margin-right: 12px;
}

.main-button {
  height: 48px;
  width: 124px;
}

.see-project {
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
}

.see-project:hover {
  background-color: #fff5e1;
  color: #f55800;
  border: 1px solid #f55800;
}

.see-project:focus {
  background-color: #e05304;
  color: #f4f1f0;
  border: none;
}

.see-project:disabled {
  background-color: #f4f1f0;
  color: #5b5957;
  border: none;
}

.second-card {
  display: flex;
  height: 386px;
  width: 327px;
  flex-direction: column;
  justify-content: flex-end;
  background-image: url(assets/Img-secundary-card.png);
}

.mask-group {
  height: 248px;
  width: 327px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h4 {
  width: 295px;
  height: 81px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  color: #fff;
  margin: -0.01px;
}

.supporting-text-secondary-card {
  width: 295px;
  height: 87px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #fff;
}

.secondary-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
  margin-right: 12px;
  color: #fff;
}

.secondary-button {
  height: 48px;
  width: 327px;
}

.about-section {
  width: 375px;
  height: 1901px;
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about {
  width: 375px;
  height: 660px;
  background-image: url(assets/Frame.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-title {
  height: 79px;
  width: 327px;
  font-family: Crete Round, Arial, Helvetica, sans-serif;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  margin: -0.01px;
  color: #ff6b00;
}

.about-description {
  width: 327px;
  height: 148px;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.about-button-container {
  width: 327px;
  height: 48px;
  display: flex;
}

.about-button {
  width: 161px;
  height: 48px;
}

.skill {
  width: 327px;
  height: 1241px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.white-vector {
  width: 327px;
  height: 128px;
  border-top: 1px solid #fff;
}

ul.skill-list-container {
  width: 327px;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  padding: 16px;
}

li.slk {
  color: #fff;
  font-family: InaiMathi, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 44px;
  padding-inline-start: 12px;
}

ul.skill-list-container li:nth-child(1) {
  list-style-image: url(assets/Rectangle55.png);
  margin-left: 68px;
}

ul.skill-list-container li:nth-child(6) {
  list-style-image: url(assets/Square56.png);
  margin-left: 40px;
}

ul.skill-list-container li:nth-child(12) {
  list-style-image: url(assets/Circle57.png);
  margin-left: 95px;
}

.skill-description {
  list-style-type: none;
  width: 288px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43px;
  text-align: center;
  color: #fff;
  margin: 0.01px;
}
