body {
  margin: -1px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
  display: flex;
  background: #3c3a39;
  color: #fff;
  justify-content: space-between;
  height: 48px;
  align-items: center;
  font-size: 18px;
  width: 376px;
}

.logo {
  color: #fff;
  text-decoration: none;
  width: 160px;
  text-align: center;
}

nav {
  display: flex;
  width: 68px;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  background: #1c1a19;
  background-image: url(assets/Illustration.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  color: #fff;
  height: 590px;
  justify-content: center;
  width: 376px;
  align-items: center;
}

.intro-text {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: flex-start;
  order: 0;
  width: 327px;
}

.primary-text {
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.3700000047683716px;
  text-align: left;
  color: #ff6b00;
  width: 327px;
  margin: -0.01px;;
}

.supporting-text {
  width: 327px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  text-align: left;
  margin: -0.01px;;
}

.Description-text {
  width: 327px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  height: 50px;
  align-items: center;
  order: 1;
  border: 5px solid rebeccapurple;
  padding: -0.01px;
  width: 327px;
}

.icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
